@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: white;
}

.part-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: large;
}

.modal-content {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.actions {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.actions > * {
    margin-left: 20px;
}

.actions-container {
    width: 100%;
}